.signIn{
    .background{
        background-image: url(/assets/images/signin.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 400px auto;
        height: 400px;
    }
}